html {
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  align-items: center;
}

body {
  margin: 0px;
  padding: 30px;
}

input:focus {
  outline: none;
}

.table__header {
  color: blue;
  border: 1px solid red;
}

.table__header > td:first-child {
  background-color: red;
}

.table__body {
  border: 1px solid red;
}

.table__row {
  border: 1px solid red;
}

.table__cell {
  padding: 8px 25px;
  background-color: rgb(227, 250, 240);
}

.table__cell-added {
  background-color: rgb(243, 243, 243);
  border: 2px dashed rgb(202, 202, 202);
}

.table__added-col {
  border-collapse: collapse;
}

.table__week-days {
  float: left;
  border-collapse: collapse;
}

.table__week-days > tr:first-child {
  border: 2px solid;
}

.table__week-cells {
  border: 1px solid green;
}

#a {
  empty-cells: hide;
}

.table > td:first-child {
  empty-cells: hide;
}

.table-corner {
  background-color: red;
}

.week-days {
  background-color: rgb(188 242 219);
  font-size: 14px;
  font-weight: 500;
  color: rgb(0 129 108);
  text-align: center;
}

.empty-cell {
  empty-cells: hide;
}

.days td {
  padding: 8px 25px;
}

.days td {
  border-collapse: collapse;
  border: 1px solid red;
}

.day tr:first-child > td {
  border-top: 0;
  border-left: 0;
}

thead td {
  padding: 8px 25px;
  background-color: rgb(29, 151, 110);
  color: white;
  font-size: 18px;
  font-weight: 600;
}

thead > tr:first-child > td:nth-child(2) {
  border-radius: 15px 0 0 0;
}

thead > tr:first-child > td:last-child {
  border-radius: 0 15px 0 0;
  color: rgb(124, 124, 124) !important;
  font-size: 22px;
  font-weight: 700;
}

tbody tr:last-child > td:nth-child(2) {
  border-radius: 0 0 0 15px;
}

tbody tr:last-child > td:last-child {
  border-radius: 0 0 15px;
}

tbody tr:first-child > td:first-child {
  border-radius: 10px 0 0 0;
}

tbody tr:nth-last-child(3) > td:first-child {
  border-radius: 0 0 0 10px;
}

table > thead {
  border: 0;
}

.table__date {
  font-size: 15px;
  font-weight: 500;
  color: rgb(99, 99, 99);
  background-color: rgb(211, 250, 233);
}

.table__header-cell {
  padding: 8px 25px;
  background-color: rgb(29, 151, 110);
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.table__bottomline {
  background-color: rgb(29, 151, 110);
  font-size: 15px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
}

.table__bottomline-cell {
  font-size: 15px;
  font-weight: 500;
  color: rgb(99, 99, 99);
  background-color: rgb(211, 250, 233);
  text-align: center;
}

.current-day {
  box-shadow: 0px 0px 20px 14px #00968861;
  position: relative;
}

.input {
  font-size: 15px;
  color: rgb(99, 99, 99);
  background: none;
  text-align: center;
  height: 36px;
  width: 162px;
  border: none;
}

.table__cell:hover {
  background-color: rgb(193, 243, 221);
}

.table__cell-input {
  padding: 0px !important;
}

.time-picker {
  position: absolute;
  display: inline-block;
  padding: 6px;
  background: #eeeeee;
  border-radius: 5px;
}

.time-picker__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}
